@if (gameResource.isLoading()) {
  <div class="loading-message">
    <mat-spinner [diameter]="20"></mat-spinner>
    Cargando datos
  </div>
} @else if (gameResource.hasValue()) {
  @let gameInfo = game()!;
  <mat-toolbar>
    <span>{{ gameInfo.name }}</span>
    <span class="spacer"></span>
    <a matButton aria-label="Volver" [routerLink]="['/games']">
      <mat-icon>arrow_back</mat-icon>
      Volver
    </a>
  </mat-toolbar>
  <div>
    @if (!showDetails()) {
      <button matButton (click)="showDetails.set(true)">Mostrar detalles</button>
    } @else {
      <img [src]="gameInfo.background_image" class="game-image" alt="Imagen del juego" />
      <h3>Descripción</h3>
      <p>{{ gameInfo.description_raw }}</p>
      <h3>Valoración</h3>
      <div class="flex-center">
        <star-rating [rating]="gameInfo.rating"></star-rating> ({{ gameInfo.rating }})
      </div>
      <h3>Fecha de lanzamiento</h3>
      <p>{{ gameInfo.released | intlDate: 'es-ES' : 'long' }}</p>
      <mat-tab-group>
        <mat-tab label="Platforms">
          <mat-list role="list">
            @for (platform of gameInfo.platforms; track platform.platform.id) {
              <mat-list-item role="listitem">{{ platform.platform.name }}</mat-list-item>
              @if (!$last) {
                <mat-divider></mat-divider>
              }
            }
          </mat-list>
        </mat-tab>
        <mat-tab label="Stores">
          <mat-list role="list">
            @for (store of gameInfo.stores; track store.store.id) {
              <mat-list-item role="listitem">{{ store.store.name }}</mat-list-item>
              @if (!$last) {
                <mat-divider></mat-divider>
              }
            }
          </mat-list>
        </mat-tab>
        <mat-tab label="Developers">
          <mat-list role="list">
            @for (developer of gameInfo.developers; track developer.id) {
              <mat-list-item role="listitem">{{ developer.name }}</mat-list-item>
              @if (!$last) {
                <mat-divider></mat-divider>
              }
            }
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    }
  </div>
}
